@font-face {
  font-family: Roboto-Black;
  src: url('../public/font/Roboto/Roboto-Regular.ttf');
}

body {
  font-family: Roboto-Black;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-item img {
  max-height: 50px;
}

.item-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  font-size: 12px;
}

.burger-menu {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.burger-menu img {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .item-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #fff;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }

  .item-menu.menu-open {
    display: flex;
    z-index: 100;
  }

  .burger-menu {
    display: block;
  }
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; 
  max-width: 1200px; 
  height: 90%;
  aspect-ratio: 3 / 2;
  margin: auto;
  overflow: hidden; 
}

.slide {
  border-radius: 0.5rem;
  width: 120%;
  height: 80%; 
  object-fit: cover; 
}

.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  filter: drop-shadow(0px 0px 5px #555);
  width: 2rem;
  height: 2rem;
  color: white;
  z-index: 10; 
}

.arrow:hover {
  cursor: pointer;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: 1rem;
  justify-content: center; 
  width: 100%;
}

.indicator {
  background-color: white;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 100%;
  border: none;
  outline: none;
  box-shadow: 0px 0px 5px #555;
  margin: 0 0.2rem;
  cursor: pointer;
}

.indicator-inactive {
  background-color: grey;
}

@media (max-width: 768px) {
  .arrow {
    width: 1.5rem;
    height: 1.5rem;
  }

  .indicator {
    height: 0.4rem;
    width: 0.4rem;
  }
}
.block-deye {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px; 
}

.goal-deye {
  text-align: left; 
  padding: 20px;
}

.goal-deye h1 {
  margin: 0 0 20px; 
  font-size: 24px; 
  font-weight: bold; 
}

.goal-deye ul {
  list-style-type: disc; 
  margin: 0; 
  padding-left: 20px; 
}

.goal-deye li {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1.6;
}


.image-company-deye {
  width: 45%; 
  height: auto;
}

.deye-company {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .block-deye {
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
  }

  .goal-deye {
    width: 100%;
    margin: 0;
    text-align: left; 
  }

  .image-company-deye {
    width: 100%; 
  }

  .deye-company {
    max-width: 300px; 
  }

  .btn-primary {
    width: 90%; 
    padding: 15px 0;
    font-size: 18px; 
    text-align: center;
    align-items: center;
  }

  .item-button {
    text-align: center;
    align-items: center;
  }

  ul {
    padding-left: 0;
    list-style-position: inside; 
  }
}
